<!--
<div class="principal">

  <div class="offset-md-4 col-md-4 pt-5">
    <h1 class="text-muted text-center">Log-in/Register</h1>
    <br/>
    <br/>
    &lt;!&ndash;<div class="rounded-circle edit">
      <mat-icon class="text-white edit-icon">edit</mat-icon>
    </div>&ndash;&gt;
    <form class="mt-md-5 p-5" [formGroup]="formGroup" (ngSubmit)="singIn()">
      <h2 class="rose-color">Login</h2>
      <br/>
      <br/>
      <span class="text-danger">{{errorMessage}}</span>
      <mat-form-field appearance="legacy" class="w-100" style="font-size: 24px">
        <mat-label>Username</mat-label>
        <input matInput placeholder="votre login" formControlName="username" style="font-size: 24px">
        <mat-error *ngIf="formGroup.controls.username.invalid">Veillez entrer un nom d'utilisateur</mat-error>
      </mat-form-field>
      <mat-form-field appearance="legacy" class="w-100" style="font-size: 24px">
        <mat-label>Password</mat-label>
        <input matInput placeholder="votre mot de passe" type="password" formControlName="password" style="font-size: 24px">
        <mat-error *ngIf="formGroup.controls.password.invalid">Veillez entrer votre mot de pass</mat-error>
      </mat-form-field>

      <div class="row justify-content-center">
        <button mat-raised-button color="accent">Valider</button>
      </div>
      <br/>
      <div class="row justify-content-center text-muted">
        <span>Mot de pass oublié ?</span>
      </div>
    </form>
  </div>
  <div style="height: 500px"></div>
</div>
-->

<router-outlet></router-outlet>
